# Python Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc
*.py[cod]
.env
backend/.env

#uploaded datasets 
backend/storage/uploads/*
!backend/storage/uploads/.gitkeep
backend/storage/processed/*
!backend/storage/processed/.gitkeep

# React
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/